<div class="card">
  <div class="card-header">
    <h1>Register Your Organisation</h1>
  </div>
  <div class="card-body">
    <%= render "form", organisation: @organisation %>
  </div>
</div>
<br>
<div>
  <%= link_to 'All Orgs', organisations_path %>
</div>
